.chart-sheet {
  height: 400px;
  max-width: 850px;
  margin: 0 auto;
}

.first-sheet{
  background-color: rgb(25 118 210);
  color: white;
  height: 50px;
}
.name-sheet {
  margin: -25px auto;
  width: 150px;
  font-size: 25px;
}
.th-sheet{
  width: 220px;
  align-content: center;
  color: rgb(25, 118, 210);
}

.sheet-tables{
  margin-top: 35px !important;
  width: 850px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chart-sheet {
  margin-top: 35px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resent-sheet {
  color: rgb(25 118 210);
  width: 200px;
  margin: 15px;
  font-size: 25px;
  padding-top: 20px;
}

td {
  text-align: center;
}
