

<div class="chart-sheet">
  <div class='chart-wrapper'><div class='chart' [chart]="chart" ></div></div>
</div>
<div class="sheet-tables">
  <div class="resent-sheet">
      <span>Recent Orders</span>
  </div>
  <table>
    <th class="th-sheet" *ngFor="let column of displayedColumns">{{column}}</th>
    <tr *ngFor="let data of dataSource">
      <td>{{data.date}}</td>
      <td>{{data.name}}</td>
      <td>{{data.shipTo}}</td>
      <td>{{data.paymentMethod}}</td>
      <td>{{data.saleAmount}}</td>
    </tr>
  </table>
</div>


