<div class="sign-up">
  <div class="sign-up-sheet">
    <h3 class="sign-up-name">Sign Up</h3>
  </div>
  <div class="error-sheet">{{error}}</div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email Address</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" [(ngModel)]="password" matInput placeholder="Password" [formControl]="passwordFormControl">
    </mat-form-field>

    <button mat-button matSuffix mat-stroked-button aria-label="Sign Up"
            (click)="onSubmit()"
            disabled="{{email && password && emailFormControl.hasError('email') && !emailFormControl.hasError('required')}}"
    >
      <label>SIGN UP</label>
    </button>
  </form>
  <div class="signup">
    <a [routerLink]="['/signin']">Sign In</a>
  </div>
</div>
