.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.sign-up{
  width: 300px;
  margin: 0 auto;
}

.sign-up-sheet{
  width: 60px;
  margin: 0 auto;
}
.mat-form-field-wrapper{
  .mat-form-field-flex{
    border: 1px solid gray;
  }
}

.mat-focus-indicator{
  display: block;
  min-width: -webkit-fill-available;
}

.signup {
  margin-top: 15px;
}
.sign-up {
  margin-top: 25px;
}

